.complete{
    padding: 10px;
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: space-around;
    
    height: 100%;
    padding-bottom: 200px;
    }
h1{
     text-align: center;
  line-height: 100px;
  margin: 0;
}
.buttons{
    display: flex;
    flex-direction: column; 
}
#first{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
}
#sec{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
}
#red{
       width: 100px;
     height: 100px;
     border: solid black 2px;
     display: inline-block;
     background: red;
     margin: 10px 15px 20px;
}
#white{
       width: 100px;
     height: 100px;
     border: solid black 2px;
     display: inline-block;
     background: grey;
     margin: 10px 15px 20px;
}
#green{
       width: 100px;
     height: 100px;
     border: solid black 2px;
     display: inline-block;
     background: green;
     margin: 10px 15px 20px;
}
#yellow{
       width: 100px;
     height: 100px;
     border: solid black 2px;
     display: inline-block;
     background: yellow;
     margin: 10px 15px 20px;
}
